
  @import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

  body{
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}
.logo{
  color: aliceblue;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  background: rgb(20, 151, 180);
}
nav ul{
  display: flex;
}
nav ul li{
  list-style: none;
  margin-left: 40px;
  font-size: 12px;
  font-family: sans-serif;
}
nav ul li a{
  text-decoration: none;
  color: aliceblue;
  font-weight: 800;
}

.logoBox h1{
  font-family: sans-serif;
}

.heroImg{
  width: 40%;
  margin-top: 3rem;
  margin-left: 6rem;
}
.heroTitle{
  transform: rotate(-90deg);
  font-size: 2rem;
  margin-top: 100px;
  font-family: 'Kumar One Outline', cursive;
}

.hexaImg{
  width: 100%;
  opacity: .1;
}
.hexaDiv{
  position: relative;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
}

.treeDiv{
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  position: absolute;
  top: 60%;
  left: 49%;
}

.treeImg{
  width: 200px;
  opacity: 1;
  position: fixed;
  z-index: 9;
}

.hexagonDiv{
  width: 30rem;
  height: 200px;
  /* border: 1px solid red; */
  position: relative;
  /* margin-right: -10rem; */
}
.content1{
  /* border: 1px solid red; */
  width: 10rem;
  height: 30rem;
}
.sidebar{
  /* background: #d75157; */
  background: rgb(40, 8, 61);;
  width: 30%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.content-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.heroPara{
  transform: rotate(-90deg);
  font-family: sans-serif;
  text-align: center;
  width: 200px;
  margin-right: 4rem;
}
/* second section */

.box{
  background: red;
  width: 200px;
  height: 200px;
}
.dark{
  text-align: left;
  background: rgb(40, 8, 61);
  color: white;
  position: relative;
  height: 100vh;
  /* border: 2px solid red; */
}

.image2{
  width: 50%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  right: 0;
  top: 0;
  z-index: 0;
}

.content{
  padding: 8rem 4rem;
  z-index: 1;
  position: relative;
}

h2{
  font-size: 4rem;
  margin-bottom: 0;

}

p{
  font-size: 1.6rem;
}

/* card container starts here */

.CardContainer {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}


.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #f1f1f1;
  margin-bottom: 2rem;
}

.card h3 {
  margin-bottom: 2rem;
}

.card img {
  height: 343px;
  margin-top: 40px;
}

.card > div {
  padding: 2rem;
}

.card:nth-child(even) img {
  order: 2;
}


.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

a {
  color: #333;
  text-decoration: none;
}

@media(max-width:600px) {
  .card {
    display: block;
  }
}

/* scgDiv stared here */

.svgDiv{
  /* border: 1px solid blue; */
  height: 10px;
  margin: auto;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}
.svgDiv > svg{
  width: 80%;
  transform: rotate(-90deg);
}

.allFourDiv{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
  width: 80%;
  margin: auto;
}
#firstDiv{
  border: 2px solid rgb(0, 13, 114);
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 100px;
  font-family: 'Poppins', sans-serif;
}

#firstDiv > img{
  width: 100px;
}

#secondDiv{
  border: 2px solid rgb(0, 13, 114);
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 100px;
  font-family: 'Poppins', sans-serif;
}
#secondDiv > img{
  width: 100px;
}

#thirdDiv{
  border: 2px solid rgb(0, 13, 114);
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 100px;
  font-family: 'Poppins', sans-serif;
}
#thirdDiv > img{
  width: 100px;
}

#fourthDiv{
  border: 2px solid rgb(0, 13, 114);
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 100px;
  font-family: 'Poppins', sans-serif;
}
#fourthDiv > img{
  width: 100px;
}